<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link href='http://fonts.googleapis.com/css?family=Cardo'
	  rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>

</style>
</head>

<body>
  <div id="container">

    <div id="header">
      HEADER_TEXT
    </div>
    <div id="left_sidebar">
      LEFT_SIDEBAR
    </div>
    <div id="right_sidebar">
      RIGHT_SIDEBAR
    </div>
    <div id="main_content">
      MAIN_CONTENT
    <div id="footer">
      FOOTER_TEXT
    </div>

  </div>
</body>
</html>
